body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
.navbar {
    background-color: #011d3b;
}
.navbar-brand {
    color: #fff;
}
.navbar-nav .nav-link {
    color: #fff;
}
.navbar-nav .nav-link:hover {
    color: #ddd;
}
.container {
    padding-top: 20px;
}
footer {
    background-color: #011d3b;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.compact-table th, .compact-table td {
    padding: 0.5rem;
    font-size: 0.85rem;
}
.compact-table th {
    background-color: #f8f9fa;
    border-bottom: 2px solid #dee2e6;
}
.compact-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.compact-table tr:hover {
    background-color: #e9ecef;
}