{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 65vh;">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Welcome to InsightSKU</h5>
                <p class="card-text">Please enter your account name to proceed.</p>
                <form method="post" class="mt-4">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="client_name" class="form-label">Account Name:</label>
                        <input type="text" class="form-control" id="client_name" name="client_name" {% if autocomplete_enabled %}autocomplete="on"{% endif %}>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
